<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

  <system.serviceModel>
    <services>
      <service name="Uniloop_Backend.UniLoop">
        <!-- Main endpoint -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="Uniloop_Backend.IUniLoop" />

        <!-- Metadata endpoint for WCF Test Client -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Expose metadata for WCF Test Client -->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <connectionStrings>
    <add name="UniLoopEntities" connectionString="metadata=res://*/UniLoopModel.csdl|res://*/UniLoopModel.ssdl|res://*/UniLoopModel.msl;&#xD;&#xA;                           provider=System.Data.SqlClient;&#xD;&#xA;                           provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;&#xD;&#xA;                           attachdbfilename=|DataDirectory|\UniLoop.mdf;&#xD;&#xA;                           integrated security=True;&#xD;&#xA;                           MultipleActiveResultSets=True;&#xD;&#xA;                           App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="UniLoopConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\UniLoop.mdf;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
